streamlit
extra-streamlit-components
google-genai
streamlit-paste-button
gpt4all
torch
transformers
diffusers
accelerate
pillow
sentencepiece
huggingface_hub
safetensors
imageio
imageio-ffmpeg
replicate